body {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  font-family: Arial;
}

.card {
  background: white;
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}
